@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

*{
     font-family: "Outfit", sans-serif;
}

.amimatesScroll{
    animation:scrollX 30s linear infinite ;
}

@keyframes scrollX {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}


.rever-rw, .rever-rw *{
    all: revert !important;
}
.hellow{
    max-height: 500px !important;
    overflow-y: auto !important;
    margin-top: 10px !important;

}
.cl-drawerRoot{
    z-index: 100 !important;
}